SECRET_KEY=change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
SGP_ADMIN_EMAIL=admin@makala.cd
SGP_ADMIN_PASSWORD=Admin@Makala2026
SGP_ADMIN_NOM=Admin
SGP_ADMIN_PRENOM=Systeme
SGP_ADMIN_TELEPHONE=
